* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 64px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul li {
  list-style: none;
}

#dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown_menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
  border: 1px solid white;
  z-index: 1000;
  width: 200px;
}

#dropdown:hover .dropdown_menu {
  display: block;
}

.dropdown_menu ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: black;
}

.dropdown_menu ul li {
  list-style: none;
  width: 100%;
}
.dropdown_menu ul li:hover{
  background-color: blue;
  color: white;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 3px;
}

#dropdown2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown_menu2 {
  display: none;
  position: absolute;
  left: 198px;
  top: 50%;
  background-color: black;
  border: 1px solid white;
  z-index: 1000;
  width: 200px;
}

#dropdown2:hover .dropdown_menu2 {
  display: block;
}

.dropdown_menu2 ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: black;
}

.dropdown_menu2 ul li {
  list-style: none;
  width: 100%;
}

#dropdown3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown_menu3 {
  display: none;
  position: absolute;
  left: 198px;
  top: 50%;
  background-color: black;
  border: 1px solid white;
  z-index: 1000;
  width: 200px;
}

#dropdown3:hover .dropdown_menu3 {
  display: block;
}

.dropdown_menu3 ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: black;
}

.dropdown_menu3 ul li {
  list-style: none;
  width: 100%;
}

#horizental {
  width: 100%;
}
